/* width */
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #AAABAB;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  border: solid lightgray 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /*background: #b30000;*/
  opacity: 30%;
}

html {
  overflow: hidden;
}